---
# Setup tasks for MySQL server

- name: Install MySQL packages
  ansible.builtin.apt:
    name: "{{ mysql_packages }}"
    state: present
    update_cache: yes
  become: true

# Copy MySQL configurations.
- name: Copy MySQL global configuration
  ansible.builtin.template:
    src: "mysql-global.conf.j2"
    dest: /etc/mysql/mysql.cnf
    owner: "{{ root_user }}"
    group: "{{ root_group }}"
    mode: "0644"
    force: true
  notify: Restart MySQL
  become: true

- name: Copy MySQL server configuration
  ansible.builtin.template:
    src: "mysql-server.conf.j2"
    dest: /etc/mysql/mysql.conf.d/mysqld.cnf
    owner: "{{ root_user }}"
    group: "{{ root_group }}"
    mode: "0644"
    force: true
  notify: Restart MySQL
  become: true

- name: Copy MySQL client configuration
  ansible.builtin.template:
    src: "mysql-client.conf.j2"
    dest: /etc/mysql/mysql.conf.d/client.cnf
    owner: "{{ root_user }}"
    group: "{{ root_group }}"
    mode: "0644"
    force: true
  notify: Restart MySQL
  become: true

- name: Ensure MySQL is running
  ansible.builtin.service:
    name: mysql
    state: started
    enabled: true
  become: true
