# Common tasks for php

# Apply PHP CLI configuration overrides.
- name: Copy PHP CLI override configuration file
  ansible.builtin.template:
    src: php-overrides.ini.j2
    dest: "/etc/php/{{ php_version }}/cli/conf.d/{{ php_overrides_conf_filename }}"
    owner: "{{ root_user | default('root') }}"
    group: "{{ root_group | default('root') }}"
    mode: "0644"
    force: true
  vars:
    php_ini_overrides: "{{ php_cli_configurations }}"
  notify: Restart PHP-FPM
  become: true

# Apply PHP FPM configuration overrides.
- name: Copy PHP FPM override configuration file
  ansible.builtin.template:
    src: php-overrides.ini.j2
    dest: "/etc/php/{{ php_version }}/fpm/conf.d/{{ php_overrides_conf_filename }}"
    owner: "{{ root_user | default('root') }}"
    group: "{{ root_group | default('root') }}"
    mode: "0644"
    force: true
  vars:
    php_ini_overrides: "{{ php_fpm_configurations }}"
  notify: Restart PHP-FPM
  become: true
