---

# Add more repositories
- name: Add repositories
  ansible.builtin.apt_repository:
    repo: "{{ item.repo }}"
    state: present
    update_cache: true
  loop: "{{ php_repositories }}"
  when: php_repositories is defined

# Install common packages
- name: "Install common packages"
  ansible.builtin.apt:
    name: "{{ common_packages }}"
    state: present
    update_cache: true
  when: common_packages is defined

# Install packages for Apache
- name: Install Apache packages
  ansible.builtin.apt:
    name: "{{ apache_packages | default(['apache2']) }}"
    state: present
    update_cache: true
  become: true
  when: apache_packages is defined

# Install packages for MySQL
- name: "Install MySQL"
  ansible.builtin.apt:
    name: "{{ mysql_packages }}"
    state: present
    update_cache: true
  when: mysql_packages is defined

# Install packages for security hardening
- name: "Install security hardening packages"
  ansible.builtin.apt:
    name: "{{ secured_packages }}"
    state: present
    update_cache: true
  when: secured_packages is defined
