# /etc/apache2/conf-available/drupal.conf
# Apache Drupal configuration on {{ inventory_hostname }}
# {{ ansible_managed }} at {{ ansible_date_time.date }} {{ ansible_date_time.time }}

# TBD: Add Drupal-specific Apache configuration here
