# /etc/apache2/conf-available/security.conf
# Apache security configuration on {{ inventory_hostname }}
# {{ ansible_managed }} at {{ ansible_date_time.date }} {{ ansible_date_time.time }}

# Hide detailed version tokens in HTTP responses.
ServerTokens {{ apache_server_tokens | default('Prod') }}

# Do not leak module information on generated pages.
ServerSignature {{ apache_server_signature | default('Off') }}

# Disable the TRACE method to mitigate cross-site tracing attacks.
TraceEnable {{ apache_trace_enable | default('Off') }}

# Header Settings
# Protect against Clickjacking attacks.
Header always append X-Frame-Options "SAMEORIGIN"
# Prevent MIME-type sniffing.
Header set X-Content-Type-Options "nosniff"
# Enable XSS protection in browsers.
Header set X-XSS-Protection "1; mode=block"
