[sshd]
enabled = true
port = {{ ssh_port}}
filter = sshd
logpath = /var/log/auth.log
maxretry = {{ fail2ban_sshd_maxretry | default('3') }}

[nginx-http-auth]
enabled = true
filter = nginx-http-auth
port = http,https
logpath = /var/log/nginx/error.log
