---

# Install scripts from templates
- name: Install scripts from templates
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "/usr/local/bin/{{ item.name }}"
    owner: "{{ root_user }}"
    group: "{{ root_group }}"
    force: true
    mode: "755"
  become: true
  loop:
    - name: "platform-ownership-permissions.sh"
      src: "{{ role_path }}/../platform_permissions/templates/platform-ownership-permissions.sh"
    - name: "site-ownership-permissions.sh"
      src: "{{ role_path }}/../site_permissions/templates/site-ownership-permissions.sh"
