---
# Applies ownership and settings protections for Drupal sites.

- name: Enforce Drupal site permissions
  vars:
    site_name: "{{ sites[item.key].name }}"
    platform_path: "{{ platforms[ sites[item.key].platform ].path }}{{ platforms[ sites[item.key].platform ].name }}"
    platform_user: "{{ platforms[ sites[item.key].platform ].user }}"
    platform_group: "{{ platforms[ sites[item.key].platform ].group }}"
  block:
    - name: Set permissions for site directory
      ansible.builtin.command: >
        /usr/local/bin/site-ownership-permissions.sh
        --root="{{ platform_path }}/web/sites/{{ site_name }}"
        --user="{{ platform_user }}"
        --group="{{ apache_group | default('www-data') }}"
      args:
        chdir: "{{ platform_path }}"
      become: true

    - name: Ensure settings.php is temporarily writable
      ansible.builtin.file:
        path: "{{ platform_path }}/web/sites/{{ site_name }}/settings.php"
        mode: "0640"

    - name: Add trusted host patterns
      ansible.builtin.lineinfile:
        path: "{{ platform_path }}/web/sites/{{ site_name }}/settings.php"
        regexp: "^# \\$settings\\['trusted_host_patterns'\\] = \\[\\];$"
        line: |
          $settings['trusted_host_patterns'] = [
            '^{{ site_name }}$',
          ];
        state: present
      notify: Apply 440 permissions to settings.php
  loop: "{{ sites | dict2items }}"
  loop_control:
    label: "{{ item.key }}"
  when:
    - (site is defined and site == sites[item.key].name and inventory_hostname == sites[item.key].server)
      or
      (site is not defined and inventory_hostname == sites[item.key].server)
  tags:
    - install
    - verify
