---
####################################################################################################
# Handlers for server tasks
####################################################################################################

### Common handlers

### Handlers for database tasks
# Restart MySQL
- name: "Restart MySQL"
  ansible.builtin.service:
    name: mysql
    state: restarted


### Handlers for webserver tasks
# Restart Apache
- name: "Restart Apache"
  ansible.builtin.service:
    name: apache2
    state: restarted

# Validate Apache configuration before reloading.
- name: "Validate apache configuration"
  listen: "Reload Apache"
  ansible.builtin.command: apachectl configtest
  changed_when: false
  become: true

# Reload Apache only if config test passes.
- name: Reload Apache service
  listen: "Reload Apache"
  ansible.builtin.service:
    name: apache2
    state: reloaded
  become: true


### Handlers for php tasks
# Handler to restart PHP-FPM
- name: Restart PHP-FPM
  ansible.builtin.service:
    name: "php{{ php_version }}-fpm"
    state: restarted


### Handlers for SSH tasks
# Reload SSH service
- name: Reload SSH service
  ansible.builtin.service:
    name: ssh
    state: reloaded
  become: true
  when: ansible_os_family == "Debian"

### Handlers for fail2ban tasks
# Restart fail2ban service
- name: Restart fail2ban
  ansible.builtin.service:
    name: fail2ban
    state: restarted
  become: true
  when: ansible_os_family == "Debian"

### Handlers for firewall tasks
# Reload UFW
- name: Reload UFW
  ansible.builtin.command: ufw reload
  changed_when: false
  become: true
  when: ansible_os_family == "Debian"
