# {{ ansible_managed }} at {{ ansible_date_time.date }} {{ ansible_date_time.time }}
# journald overrides for {{ inventory_hostname }}

[Journal]
Storage={{ logging_journald_storage }}
Compress={{ logging_journald_compress }}
SystemMaxUse={{ logging_journald_system_max_use }}
SystemKeepFree={{ logging_journald_system_keep_free }}
MaxRetentionSec={{ logging_journald_max_retention_sec }}
MaxFileSec={{ logging_journald_max_file_sec }}
RateLimitIntervalSec={{ logging_journald_rate_limit_interval_sec }}
RateLimitBurst={{ logging_journald_rate_limit_burst }}
