# Setup tasks for Nginx webserver

# Copy Nginx configurations.
- name: Copy Nginx configuration files for Nginx
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    force: true
    owner: "{{ root_user }}"
    group: "{{ root_group }}"
    mode: '0644'
  loop:
    - { src: "nginx-main.conf.j2", dest: "{{ nginx_main_conf_file }}" }
    - { src: "nginx-drupal.conf.j2", dest: "{{ nginx_snippets_path }}/drupal.conf" }
    - { src: "nginx-deny-all.conf.j2", dest: "{{ nginx_snippets_path }}/deny-all.conf" }
    - { src: "nginx-default.conf.j2", dest: "{{ nginx_vhost_path }}/default" }
  notify: Reload Nginx
