---

# Set default editor
- name: Set default editor
  become: yes
  ansible.builtin.lineinfile:
    path: /etc/skel/.bashrc
    state: present
    create: yes
    line: "{{ item }}"
  loop:
    - "export EDITOR=nano"
    - "export VISUAL=nano"

# Allow release info change for apt
- name: Allow release info change for apt
  become: yes
  ansible.builtin.copy:
    dest: /etc/apt/apt.conf.d/99allow-releaseinfo-change
    content: 'Acquire::AllowReleaseInfoChange "true";'
    mode: '0644'

# Update all installed packages and clean up
- name: Update all installed packages and clean up
  become: yes
  ansible.builtin.apt:
    name: "*"
    state: latest
    update_cache: true
    autoremove: true
    autoclean: true
