# Manages Apache vhost definitions per Drupal site.

- name: Deploy Apache vhost configuration files
  vars:
    site_name: "{{ sites[item.key].name }}"
    platform_path: "{{ platforms[ sites[item.key].platform ].path }}{{ platforms[ sites[item.key].platform ].name }}"
    site_aliases: "{{ sites[item.key].aliases | default([]) }}"
  ansible.builtin.template:
    src: "apache-site.conf.j2"
    dest: "{{ apache_vhost_path | default('/etc/apache2/sites-available') }}/{{ site_name }}.conf"
    owner: "{{ root_user }}"
    group: "{{ root_group }}"
    mode: "0644"
    force: true
  loop: "{{ sites | dict2items }}"
  loop_control:
    label: "{{ item.key }}"
  when:
    - (site is defined and site == sites[item.key].name and inventory_hostname == sites[item.key].server)
      or
      (site is not defined and inventory_hostname == sites[item.key].server)
  notify: Reload Apache service

- name: Enable Apache sites
  ansible.builtin.command: "a2ensite {{ sites[item.key].name }}.conf"
  args:
    creates: "{{ apache_sites_enabled | default('/etc/apache2/sites-enabled') }}/{{ sites[item.key].name }}.conf"
  loop: "{{ sites | dict2items }}"
  loop_control:
    label: "{{ item.key }}"
  when:
    - (site is defined and site == sites[item.key].name and inventory_hostname == sites[item.key].server)
      or
      (site is not defined and inventory_hostname == sites[item.key].server)
  become: true
  notify: Reload Apache service

- name: Reload Apache
  ansible.builtin.service:
    name: "{{ apache_service_name | default('apache2') }}"
    state: reloaded
  become: true
