---
# Harden SSH Configuration
# This playbook configures SSH settings to enhance security on the server.

# Look for ubuntu user
- name: Find ubuntu user
  ansible.builtin.command: getent passwd "ubuntu"
  register: ubuntu_user
  changed_when: false
  failed_when: false

# Add ubuntu user to ssh_users if found
- name: Add ubuntu user to ssh_users if found
  ansible.builtin.set_fact:
    ssh_users: "{{ ssh_users + [ubuntu_user.stdout.split(':')[0]] }}"
  when: ubuntu_user.stdout != ""
  changed_when: false
  failed_when: false

# disable password login, instead of lock. 
# Workaround for https://arlimus.github.io/articles/usepam/
- name: Disable password login
  ansible.builtin.command: usermod -p "*" "{{ item }}"
  loop: "{{ ssh_users }}"
  become: true

# SSH main configuration.
- name: Copy SSH main configuration file
  ansible.builtin.template:
    src: "sshd-main.conf.j2"
    dest: "{{ sshd_main_config_file }}"
    owner: "{{ root_user }}"
    group: "{{ root_group }}"
    mode: '0644'
  notify: Reload SSH service
  become: true

# SSH hardened configuration.
- name: Copy SSH hardened configuration file
  ansible.builtin.template:
    src: "sshd-hardened.conf.j2"
    dest: "{{ sshd_hardened_config_file }}"
    owner: "{{ root_user }}"
    group: "{{ root_group }}"
    mode: '0644'
    force: yes
  notify: Reload SSH service
  become: true
