---
- name: Generate on-demand login URL for requested site
  ansible.builtin.include_tasks: create-login-url.yml
  loop: "{{ sites | dict2items }}"
  loop_control:
    label: "{{ item.key }}"
  when:
    - site is defined
    - site == sites[item.key].name
    - inventory_hostname == sites[item.key].server
  tags:
    - reset-password
