---
### Apache-related variables for LAMP servers

# Apache packages to be installed
apache_packages:
  - apache2
  - libapache2-mod-fcgid

# File/dir locations and ownership
apache_conf_dir: "/etc/apache2"
apache_main_conf_file: "{{ apache_conf_dir }}/apache2.conf"
apache_runtime_dir: "/run/apache2"
apache_pid_file: "{{ apache_runtime_dir }}/apache2.pid"
apache_log_dir: "{{ lookup('env', 'APACHE_LOG_DIR') | default('/var/log/apache2', true) }}"
apache_error_logfile: "{{ apache_log_dir }}/error.log"
apache_access_logfile: "{{ apache_log_dir }}/access.log"
apache_site_specific_logging: true

# Connection handling defaults
apache_timeout: 300
apache_keepalive: "On"
apache_max_keepalive_requests: 100
apache_keepalive_timeout: 5

# user and group Apache runs as. These need to be set in /etc/apache2/envvars
apache_user:  "{{ lookup('env', 'APACHE_RUN_USER')  | default('www-data', true) }}"
apache_group: "{{ lookup('env', 'APACHE_RUN_GROUP') | default('www-data', true) }}"

# error log level
apache_log_level: "warn"

# SSL settings
apache_ssl_protocol: "all -SSLv3 -TLSv1 -TLSv1.1"
apache_ssl_cipher_suite: "HIGH:!aNULL:!MD5"
apache_ssl_honor_order: "on"

# Document root and options
apache_document_root: "/var/www/"
apache_document_root_options: "FollowSymLinks"
apache_document_root_override: "All"              # Allow .htaccess overrides Apache settings
apache_directory_index: "index.php index.html"

# Security settings in security.conf
apache_server_tokens: "Prod"
apache_server_signature: "Off"
apache_trace_enable: "Off"

# PHP-FPM settings in php-fpm.conf
apache_php_handler: "proxy:unix:/run/php/php{{ php_version | default('8.3') }}-fpm.sock|fcgi://localhost/"


# Webserver-related variables (Apache overrides)
apache_conf_template: "apache-main.conf.j2"
apache_default_vhost_template: "apache-default.conf.j2"
apache_drupal_snippet_template: "apache-drupal.conf.j2"

apache_worker_processes: "{{ ansible_processor_vcpus | default(ansible_processor_count) }}"

apache_extra_conf_options: ""
apache_extra_http_options: ""
apache_vhost_extra_logs: ""

apache_remove_default_vhost: false

apache_vhosts: []
# Example structure:
# apache_vhosts:
#   - server_name: "example.com"
#     server_aliases: ["www.example.com"]
#     document_root: "/var/www/example.com"
#     template: "apache-site.conf.j2"
#     state: "present"
