# Handlers for the project tasks

- name: Set ownership and file permissions for a Drupal project
  ansible.builtin.command: >
    /usr/local/bin/project-ownership-permissions.sh
    --root="{{ item_platform.value.path }}/{{ item_platform.value.name }}"
    --user="{{ item_platform.value.user }}"
    --group="{{ item_platform.value.group }}"
  args:
    chdir: "{{ item_platform.value.path }}/{{ item_platform.value.name }}"
  become: true
  loop: "{{ platforms | dict2items }}"
  loop_control:
    loop_var: item_platform
    label: "{{ item_platform.key }}"

  # Add web server user to the project user group
- name: "Add web server user to the project user group"
  ansible.builtin.user:
    name: "{{ nginx_user }}"
    groups: "{{ platforms.value.group }}"
    append: yes
  become: true
