# {{ apache_conf_dir | default('/etc/apache2') }}/conf-available/php{{ php_version | default('8.3') }}-fpm.conf
# Apache PHP-FPM configuration on {{ inventory_hostname }}
# {{ ansible_managed }} at {{ ansible_date_time.date }} {{ ansible_date_time.time }}

# Pass http authorization headers to PHP-FPM.
SetEnvIfNoCase ^Authorization$ "(.+)" HTTP_AUTHORIZATION=$1

# Route PHP execution through PHP-FPM.
<FilesMatch "\.php$">
    # set the handler only if the requested file exists
    <If "-f %{REQUEST_FILENAME}">
        SetHandler "proxy:unix:/run/php/php{{ php_version | default('8.3') }}-fpm.sock|fcgi://localhost"
    </If>
</FilesMatch>

# Deny access to raw PHP source files.
<FilesMatch "\.phps$">
    Require all denied
</FilesMatch>

# Deny access to files that start with a dot and have PHP-like extensions.
<FilesMatch "^\.ph(?:p|ps|tml|ar)$">
    Require all denied
</FilesMatch>
