# /etc/apache2/sites-enabled/default-ssl.conf
# Default virtual host configuration on {{ inventory_hostname }}
# {{ ansible_managed }} at {{ ansible_date_time.date }} {{ ansible_date_time.time }}

<VirtualHost *:443>
    ServerName _
    DocumentRoot /var/www/html

    <Directory {{ apache_document_root | default('/var/www/') }}>
        Options {{ apache_document_root_options | default('FollowSymLinks') }}
        AllowOverride {{ apache_document_root_override | default('None') }}
        # Ensure a sane directory index order for the document root:
        DirectoryIndex {{ apache_directory_index | default('index.php index.html') }}
        Require all granted
    </Directory>

    SSLEngine on
    SSLCertificateFile    /etc/ssl/certs/ssl-cert-snakeoil.pem
    SSLCertificateKeyFile /etc/ssl/private/ssl-cert-snakeoil.key

    ErrorLog "{{ apache_error_logfile | default('/var/log/apache2/error.log') }}"
    CustomLog "{{ apache_access_logfile | default('/var/log/apache2/access.log') }}" combined

</VirtualHost>
