---
# Harden SSH Configuration
# This playbook configures SSH settings to enhance security on the server.

# disable password login, instead of lock. 
# Workaround for https://arlimus.github.io/articles/usepam/
- name: Disable password login
  ansible.builtin.command: usermod -p "*" "{{ item }}"
  loop: "{{ ssh_users_all | reject('equalto', '') | unique | list }}"
  become: true

# SSH main configuration.
- name: Copy SSH main configuration file
  ansible.builtin.template:
    src: "sshd-main.conf.j2"
    dest: "{{ sshd_main_config_file }}"
    owner: "{{ root_user }}"
    group: "{{ root_group }}"
    mode: '0644'
    force: yes
  notify: Reload SSH service
  become: true

# SSH hardened configuration.
- name: Copy SSH hardened configuration file
  ansible.builtin.template:
    src: "sshd-hardened.conf.j2"
    dest: "{{ sshd_hardened_config_file }}"
    owner: "{{ root_user }}"
    group: "{{ root_group }}"
    mode: '0644'
    force: yes
  notify: Reload SSH service
  become: true
