---
######
# 
# This Ansible playbook is designed to manage servers to host Drupal sites.
#
# It does the following:
# - installs and configures LAMP stack on servers: --tags install
# - verifies the configuration of the servers:     --tags verify
# - secures servers: SSH, firewall, ...            --tags secure
# - updates servers                                --tags update
# - deletes servers: won't be implemented
#
# Usage:
#   Use one of the tags to run specific operation:
#   ansible-playbook playbooks/servers.yml --tags secure  --ask-vault-pass
#   ansible-playbook playbooks/servers.yml --tags install --ask-vault-pass
#   ansible-playbook playbooks/servers.yml --tags verify  --ask-vault-pass
#   ansible-playbook playbooks/servers.yml --tags update  --ask-vault-pass

- name: Manages LAMP servers for Drupal with Ansible
  hosts: 
    # - secured
    # - lamp
    # just one server for development, do not commit!!!!!!
    - ap-host01-dev
  become: true

  tasks:
    # Run tasks of the server role as defined by tags
    - name: LAMP server operations
      include_role:
        name: server
      tags: 
        - install
        - verify
        - secure
        - update
        - never  # This tag is used to prevent running the task without a tag
