# Migrates Drupal sites to a different platform using the latest site backup.
- name: Migrate Drupal sites
  hosts: lamp
  become: true
  vars_files:
    - "{{ playbook_dir }}/../vars/environments/{{ env | default('dev') }}.yml"
    - "{{ playbook_dir }}/../vars/stack/os/{{ stack.os | default('ubuntu-24') }}.yml"
    - "{{ playbook_dir }}/../vars/stack/php/{{ stack.php | default('php-83') }}.yml"
    - "{{ playbook_dir }}/../vars/stack/mysql/{{ stack.mysql | default('mysql-80') }}.yml"
    - "{{ playbook_dir }}/../vars/stack/apache/{{ stack.apache | default('apache-24') }}.yml"
    - "{{ playbook_dir }}/../vars/stack/drupal/{{ stack.drupal | default('drupal10') }}.yml"
  pre_tasks:
    - name: Require explicit site selection
      ansible.builtin.assert:
        that:
          - site | default('') | string | length > 0
        fail_msg: >-
          Provide a single site identifier via -e "site=<site_identifier>" to run this playbook.

    - name: Require target platform selection
      ansible.builtin.assert:
        that:
          - site_migrate_target_platform | default(site_target_platform | default('')) | string | length > 0
        fail_msg: >-
          Provide a destination platform via -e "site_migrate_target_platform=<platform_id>"
          (or site_target_platform) to migrate the site.

  tasks:
    - name: Restore Drupal sites from latest backups to target platforms
      ansible.builtin.import_role:
        name: site_migrate
