- name: Test connection to all servers
  hosts: all
  become: true

  # Encrypted variables, like IPs, cloudflare API key, ...
  vars_files:
    - "../inventory/{{ env }}/group_vars/vaultvars.yml"

  tasks:

#    - name: Log all variables for current host
#      ansible.builtin.debug:
#        var: hostvars[inventory_hostname]

    - name: Print variables from vaultvars.yml
      ansible.builtin.debug:
        var: "{{ inventory_hostname}}"

    - name: Print message with variable
      ansible.builtin.debug:
        msg: "Hello {{ inventory_hostname }}"