- name: Test connection to all servers
  # hosts: all
  hosts: 
    - 'clientA'
  become: true

  # Encrypted variables, like IPs, cloudflare API key, ...
  vars_files:
    - "../inventory/{{ env }}/group_vars/vaultvars.yml"

  tasks:
    - name: Print message
      ansible.builtin.debug:
        msg: Hello world

    - name: Print variables from vaultvars.yml
      ansible.builtin.debug:
        var: "{{ inventory_hostname}}"

#    - name: Log site variables
#      ansible.builtin.debug:
#        var: sites

    - name: Log all variables for current host
      ansible.builtin.debug:
        var: hostvars[inventory_hostname]
