- name: Test connection to all servers
  hosts: managed
  vars:
    env: dev   # or prod
  become: true

  tasks:
    - name: Print message
      ansible.builtin.debug:
        msg: Hello, we are running on {{ inventory_hostname }} in the {{ env }} environment!
