# {{ nginx_vhost_path }}/{{ site_name }}.conf
# Nginx vhost file on {{ inventory_hostname }} 
# generated: {{ ansible_date_time.date }}
# {{ ansible_managed }}, manual changes will be overwritten!

server {
    server_name {{ site_name }};
    root        {{ platform_path }}/web;
    index       index.php;

    # Plain HTTP
    listen {{ item.listen | default('80') }};
    listen [::]:{{ item.listen | default('80') }};

    # SSL settings
    listen 443 ssl;
    listen [::]:443 ssl;
    # SSL certs
    ssl_certificate        /etc/ssl/certs/{{ site_name }}.pem;
    ssl_certificate_key    /etc/ssl/private/{{ site_name }}.key;

    # Cloudflare Authenticated Origin Pulls
    # ssl_verify_client on;
    # ssl_client_certificate /etc/ssl/certs/authenticated_origin_pull_ca.pem;

    # include snpippets
    include {{ nginx_snippets_path }}/drupal.conf;     # Drupal specific configurations
    include {{ nginx_snippets_path }}/deny-all.conf;   # Deny access to sensitive files

}